@font-face {
   font-family: 'Beyond Mars';
   font-display: swap;
   src: url('file:///C:/Users/morugar/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-06-11_083137/fonts/Beyond%20Mars/font.ttf');
}
